<p>Olá <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nós estamos entrando em contato para notificá-lo de que seu email foi substituído por <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nós estamos entrando em contato para notificá-lo de que seu email foi substituído por <%= @resource.email %>.</p>
<% end %>
