<p>Olá <%= @resource.email %>!</p>

<p>Somos do Sistema de Gestão de Serviços de TI do CT/CTA. Estamos entrando em contato para informá-lo que seu email foi alterado. Caso foi você mesmo que realizou ou solicitou esta alteração, por favor desconsidere essa mensagem. Caso contrário, entre em contato com o administrador do sistema.</p>
