<p>Olá <%= @resource.email %>!</p>

<p>Sua conta no Sistema de Gestão de Serviços de TI do CT/CTA foi bloqueada devido a um excesso de tentativas de acesso com senha ou email incorretos.</p>

<p>Clique no link abaixo para desbloquear sua conta:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
